
body {
  background-color: #DEDEDE
}


h1 {
  color: #FF920D
  font-family: Impact;
  padding-left: 100px
  padding-right: 100px;
  font-size: 80px;
  text-align: center;
}


header {
  background-color: #FFFF66;
  height: 50px;
}

#profilepic {
  padding-left: 10px;
  height: 50px;
  width: 50px;
  float: left;
}

#profile {
  font-size: 10px;
  padding-top: 10px;
  font-family: arial;
}

#one {
  margin-left: 3%;S
}
