
body {
  background-color: #FFF6D0;
  margin: 0;
}

h1 {
   color: #9b73ff;
   padding-left: 100px;
   padding-right: 100px;
   text-align: center;
}

header {
  background-color: #FFFF66;
  height: 50px;
}

#profilepic {
  padding-left: 10px;
  height: 50px;
  width: 50px;
  float: left;
}

#profile {
  font-size: 10px;
  padding-top: 10px;
  font-family: arial;
}

#profile {
  font-size: 10px;
  padding-top: 10px;
  font-family: arial;
}

#one {
  margin-left: 3%;
}
